%main.container.general-main-wrap
  = render 'checkout/partials/header'
  = simple_form_for @checkout.order, url: wizard_path, method: :put do |f|
    %table.table.table-hover
      %thead
        %tr
          %th.col-method
            %span.in-grey-600.ml-40
              = t('checkout.order_delivery.service')
          %th
            %span.in-grey-600
              = t('checkout.order_delivery.days')
          %th
            %span.in-grey-600
              = t('checkout.order_delivery.price')
      %tbody
        = f.collection_radio_buttons :delivery_id, @checkout.deliveries.each, :id, :name do |delivery|
          %tr
            %td
              .form-group.radio.mt-0.mb-0
                = delivery.label(class: 'radio_label') do
                  = delivery.radio_button(class: 'radio-input', hidden: 'true')
                  %span.radio-icon
                  %span.radio-text
                    = delivery.text
            %td
              %span
                = t('checkout.order_delivery.days_quantity', days_quantity: delivery.object.days)
            %td
              %span.font-16.in-gold-500
                = t('price', price: delivery.object.price)
    .general-text-align
    = render 'checkout/partials/order_summary', order: @checkout.order
    = f.button :submit, t('button.save_and_continue'), class: 'btn btn-default center-block mb-20'
