%main.container.general-main-wrap
  = render 'checkout/partials/header'
  = simple_form_for current_order, url: wizard_path, method: :put do |f|
    %table.table.table-hover
      %thead
        %tr
          %th.col-method
            %span.in-grey-600.ml-40
              = t('checkout.delivery.service')
          %th
            %span.in-grey-600
              = t('checkout.delivery.days')
          %th
            %span.in-grey-600
              = t('checkout.delivery.price')
      %tbody
        - @page_presenter.get_deliveries.each do |delivery|
          %tr
            %td
              .form-group.radio.mt-0.mb-0
                %label.radio-label
                  %input.radio-input{type: "radio", hidden: "true"}
                  %span.radio-icon
                  %span.radio-text
                    = delivery.name
            %td
              %span
                = t('checkout.delivery.days_quantity', days_quantity: delivery.days)
            %td
              %span.font-16.in-gold-500
                = t('price', price: delivery.price)
    .general-text-align
    = render 'checkout/partials/addresses/order_summary'
    = f.button :submit, 'Save and Continue', class: 'btn center-block mb-20'
