%main.container.mb-res-50
  = render 'checkout/partials/header'
  %h3.general-subtitle
    = t('checkout.payment.credit_card')
  = simple_form_for @checkout.order, url: wizard_path, method: :put, validate: true, html: {class: 'max-600'} do |f|
    = f.simple_fields_for :credit_card, @checkout.credit_card do |form|
      .form-group
        = form.label :number, t('checkout.payment.card_number'), class: 'control-label input-label'
        = form.text_field :number, class: 'form-control', placeholder: t('checkout.payment.card_number'), required: true
      .row
        .col-sm-6
          .form-group
            = form.label :name, t('checkout.payment.name_on_card'), class: 'control-label input-label'
            = form.text_field :name, class: 'form-control', placeholder: t('checkout.payment.name_on_card'), required: true
        .col-sm-3
          .form-group
            = form.label :expire_date, t('checkout.payment.expire_date_format'), class: 'control-label input-label'
            = form.text_field :expire_date, class: 'form-control', placeholder: t('checkout.payment.expire_date_format'), required: true
        .col-sm-3
          .form-group.relative
            = form.label :cvv, t('checkout.payment.cvv'), class: 'control-label input-label'
            = form.text_field :cvv, class: 'form-control', placeholder: t('checkout.payment.cvv'), required: true
            %i.fa.fa-question-circle.general-form-help{ 'data-toggle': 'tooltip', 'data-placement': :top, title: I18n.t('checkout.payment.cvv_hint') }
      = render 'checkout/partials/order_summary', order: @checkout.order
      = f.button :submit, t('button.save_and_continue'), class: 'btn btn-default center-block mb-20'
