.visible-xs
  .general-cart-item.divider-lg
    .general-img-wrap-table
      %img.cart-img-shadow
        = link_to book_path(order_book.book) do
          = order_book.book.decorate.cover_image(:cart)
    %p.title
      = order_book.book.name
    %P.in-grey-600.fw-300
      = order_book.book.decorate.first_sentence_description
    %table.table
      %tr
        %td
          %span.in-grey-600
            = t('cart.price')
        %td
          %span.font-16.in-gold-500
            = t('price', price: order_book.book.price)
      %tr
        %td.vertical-middle
          %span.in-grey-600
            = t('cart.quantity')
        %td
          %span
            = order_book.quantity
      %tr
        %td
          %span.in-grey-600
            = t('cart.subtotal')
        %td
          %span.font-16.in-gold-500
            = t('price', price: order_book.subtotal_price)
