%main.container.general-main-wrap
  %h1.general-title-margin
    = t('order.cart.cart')
  - if @order.order_books.exists?
    .visible-xs
      = render partial: 'orders/partials/mobile_cart_row', collection: order.order_books, as: :order_book
    .hidden-xs
      %table.table.table-hover
        %tr.no-hover
          %th.col-pic.pl-0
            %span.in-grey-600
              = t('order.cart.book')
          %th.col-title
          %th.col-price
            %span.in-grey-600
              = t('order.cart.price')
          %th.col-quantity
            %span.in-grey-600
              = t('order.cart.quantity')
          %th.col-total
            %span.in-grey-600
              = t('order.cart.subtotal')
          %th.col-close
        %tbody
          = render partial: 'orders/partials/cart_row', collection: order.order_books, as: :order_book
    .general-order-wrap
      .row
        = render partial: 'coupons/coupon_form'
        .col-sm-8
          .res-mr-200.text-center.general-text-right
            %p.in-gold-500.font-18
              = t('order.summary.order_summary')
            %table.general-summary-table.general-summary-table-right.general-text-right
              %tr
                %td
                  %p.font-16
                    = t('order.summary.subtotal')
                %td
                  %p.font-16
                    = t('price', price: order.subtotal_price)
              %tr
                %td
                  %p.font-16
                    = t('order.summary.coupon')
                %td
                  %p.font-16
                    = t('price', price: order.discount_price)
              %tr
                %td
                  %strong.font-18
                    = t('order.summary.order_total')
                %td
                  %strong.font-18
                    = t('price', price: order.total_price)
            %button.btn.btn-default.mb-20.visible-xs-inline-block
              = t('order.checkout')
    = link_to checkout_path(:authentication, destination: 'authentication') do
      %button.btn.btn-default.mb-20.hidden-xs.center-block
        = t('order.checkout')
