%p.in-gold-500.font-18
  = t('order.summary.order_summary')
%table.general-summary-table
  %tr
    %td
      %p.font-16
        = t('order.summary.subtotal')
    %td
      %p.font-16
        = t('price', price: current_order.subtotal_price)
  %tr
    %td
      %p.font-16
        = t('order.summary.coupon')
    %td
      %p.font-16
        = t('price', price: current_order.discount)
  %tr
    %td
      %p.font-16
        = t('order.summary.delivery')
    %td
      %p.font-16
  %tr
    %td
      %p.font-16
        = t('order.summary.order_total')
    %td
      %p.font-16
        = t('price', price: current_order.total_price)
