%tr
  %td
    .general-img-wrap-table
      %img.cart-img-shadow.pull-left
        = link_to book_path(order_book.book) do
          = order_book.book.decorate.cover_image(:box)
  %td
    %p.title
      = link_to order_book.book.name, book_path(order_book.book) 
  %td
    %span.font-16.in-gold-500
      = t('book.price', price: order_book.book.price)
  %td
    = render 'orders/partials/quantity_field', quantity: order_book.quantity
  %td
    %span.font-16.in-gold-500
      = t('book.price', price: order_book.subtotal_price)
  %td
    %button.close.general-cart-close{type: "button", 'aria-label': "Close"}
      %span{'aria-hidden': "true"} &times;
