%tr
  %td
    %span.general-order-number
      = link_to user_order_path(current_user, order) do
        = order.number
  %td
    %span.in-grey-900.font-16.fw-300
      = order.decorate.completion_date
  %td
    %span.font-16.in-grey-900.fw-300
      = order.decorate.status_title
  %td
    %strong.font-16
      = t('price', price: OrderPresenter.new(order).total_price)
