%h1.general-title-margin
  = t('user.order.title', number: order.number)
.row.mb-20
  - if order.addresses.shipping.first
    = render 'checkout/partials/confirm/address_information', type: 'shipping', address: order.addresses.shipping.first.decorate
  - if order.addresses.billing.first
    = render 'checkout/partials/confirm/address_information', type: 'shipping', address: order.addresses.billing.first.decorate
  - if order.delivery
    = render 'checkout/partials/confirm/delivery_information', delivery: order.delivery
  - if order.credit_card
    = render 'checkout/partials/confirm/credit_card_information', credit_card: order.credit_card.decorate
.hidden-xs.divider-lg.pt-20
  %table.table.table-hover
    %thead
      %tr
        %th
          %span.in-grey-600
            = t('order.cart.book')
        %th.col-method
        %th
          %span.in-grey-600
            = t('order.cart.price')
        %th
          %span.in-grey-600
            = t('order.cart.quantity')
        %th
          %span.in-grey-600
            = t('order.cart.subtotal')
    %tbody
      = render partial: 'checkout/partials/confirm/cart_row', collection: order.order_books.decorate, as: :order_book
.text-center.general-text-align
  = render 'checkout/partials/order_summary', order: order
