.col-sm-5
  %p.in-gold-500.font-18.mb-25
    = t('devise.subtitle.email')
  = simple_form_for(current_user, url: user_path, method: :put, defaults: { input_html: { class: "form-control" }}) do |f|
    .form-group.mb-35{class: (@page_presenter.set_error_class(@user, :email))}
      = f.input :email, autocomplete: "email", class: 'form-control', id: 'email', placeholder: t('devise.email')
      = render 'users/partials/errors_list', errors: @page_presenter.get_param_errors(@user, :email)
    .general-text-align
      = f.button :submit, t('button.save'), class: 'btn btn-default mb-35'
