.col-sm-5.col-sm-offset-1
  %p.in-gold-500.font-18.mb-25 Password
  = simple_form_for(current_user, url: user_path, method: :put, class: 'general-form-md divider-lg-bottom pb-25', defaults: { input_html: { class: "form-control" }}) do |f|
    .form-group.mb-30{class: (@error_presenter.set_error_class(:current_password))}
      = f.input :current_password, class: 'form-control', placeholder: t('devise.current_password')
      = render 'users/partials/errors_list', errors: @error_presenter.get_param_errors(:current_password)
    .form-group.mb-30{class: (@error_presenter.set_error_class(:password))}
      = f.input :password, class: 'form-control', placeholder: t('devise.password')
      = render 'users/partials/errors_list', errors: @error_presenter.get_param_errors(:password)
    .form-group.mb-40{class: (@error_presenter.set_error_class(:password_confirmation))}
      = f.input :password_confirmation, class: 'form-control', placeholder: t('devise.confirm_password')
      = render 'users/partials/errors_list', errors: @error_presenter.get_param_errors(:password_confirmation)
    .general-text-align
      = f.button :submit, t('button.save'), class: 'btn btn-default mb-35'
