.col-sm-5.col-sm-offset-1
  %p.in-gold-500.font-18.mb-25 Password
  = simple_form_for(current_user, url: user_path, method: :put, class: 'general-form-md divider-lg-bottom pb-25') do |f|
    .form-group.mb-30{class: (@page_presenter.set_error_class(@user, :current_password))}
      = f.label :current_password, t('devise.current_password'), class: 'control-label input-label'
      = f.password_field :current_password, class: 'form-control', required: true, placeholder: t('devise.current_password')
      = render 'users/partials/errors_list', errors: @page_presenter.get_param_errors(@user, :current_password)
    .form-group.mb-30{class: (@page_presenter.set_error_class(@user, :password))}
      = f.label :password, t('devise.password'), class: 'control-label input-label'
      = f.password_field :password, class: 'form-control', required: true, placeholder: t('devise.password')
      = render 'users/partials/errors_list', errors: @page_presenter.get_param_errors(@user, :password)
    .form-group.mb-40{class: (@page_presenter.set_error_class(@user, :password_confirmation))}
      = f.label :password_confirmation, t('devise.confirm_password'), class: 'control-label input-label'
      = f.password_field :password_confirmation, class: 'form-control', required: true, placeholder: t('devise.confirm_password')
      = render 'users/partials/errors_list', errors: @page_presenter.get_param_errors(@user, :password_confirmation)
    .general-text-align
      = f.button :submit, t('button.save'), class: 'btn btn-default mb-35'
