.col-sm-12
  %p.in-gold-500.font-18.mb-25
    = t('devise.subtitle.remove_account')
  = simple_form_for(current_user, url: user_path, method: :delete) do |f|
    .general-settings-btn
      = f.button :submit, t('button.remove_account'), id: 'destroy_confirmation_button', class: 'btn btn-default mb-20 disabled'
    .form-group.checkbox.general-settings-checkbox
      %label.checkbox-label
        = check_box_tag 'destroy_confirmation', true, false, id: 'destroy_confirmation', class: 'checkbox-input', hidden: true
        %span.checkbox-icon
          %i.fa.fa-check
        %span.checkbox-text
          = t('devise.remove_account_approve')
