.col-sm-6.col-md-3
  .general-thumb-wrap
    .thumbnail.general-thumbnail
      = book.cover_image(:cart)
      .thumb-hover
        .general-thumb-link-wrap
          = link_to book_path(id: book), class: 'thumb-hover-link' do
            %i.fa.fa-eye.thumb-icon{'aria-hidden': "true"}
          = link_to order_books_path(order_book: {book_id: book.id, quantity: 1}), remote: true, method: :post, class: 'thumb-hover-link' do |f|
            %i.fa.fa-shopping-cart.thumb-icon
  .mb-35
    .clearfix
      %p.title.mr-55
        = book.short_name
      %p.font-16.in-gold-500
        = t('price', price: book.price)
    %span.divider-sm
    %p.lead.small
      = book.authors_as_string
