.mb-80
 %h3
  = t('review.write_review')
 %p.general-info-text
  = t('review.score')
 .row
  .col-md-8
   = simple_form_for(ReviewForm.new, url: reviews_path, html: { class: 'mb-40' },
    defaults: { input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group' } }) do |f|
    .mb-15
     = f.collection_radio_buttons :score, ReviewForm::SCORE.to_a.reverse, :to_s, :to_s do |button|
      = button.radio_button + button.label
    = f.input :title, input_html: { id: 'title' }, label: t('review.title')
    = f.input :body, input_html: { id: 'review' }, label: t('review.review')
    = f.hidden_field :book_id, value: book.id
    = f.hidden_field :user_id, value: current_user.id
    .text-right
     = f.button :submit, t('review.post'), class: 'btn-default mb-20'
