!!!
%html
  %head
    %title Bookstore
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render :partial => 'layouts/partials/header'
    = render :partial => 'layouts/partials/flash_messages'
    = yield
    = render :partial => 'layouts/partials/footer'
